{% extends 'base.html'%} {% block head%}
<form action='/main_page'>
    <input type='submit' value='Sign Out'>
</form>
<h1 align="center">Welcome, {{user}}!</h1>
<h1 align="center">You have the permission to approve posts</h1> {% endblock %} {% block body %}

<div align="center">
    <h2>
        Your posts
    </h2>
    {% if posts|length
    < 1 %} <p>You haven't made any posts yet</p>
        {%else%}
        <table class="pure-table">
            <tr>
                <th>Post</th>
                <th>Status</th>
            </tr>

            {%for post in posts%}
            <tr>
                <td>{{post.Content}}</td>
                <td>{{post.Status}}</td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        <br><br>
        <!-- <textarea name="postContent" id="post" form="postform" placeholder="Enter your post content here"></textarea> -->
        <form action="/submitPost" id="postform" method='POST'>
            <input type="text" name="postContent" placeholder="Enter Post Content"><br><br>
            <input type="text" name="empID" placeholder="Enter Employee Number"><br><br>
            <input type="submit" value='Send for approval'>
        </form>
        <br><br>
        <h3>
            Posts that need your approval:
        </h3>
        <table class="pure-table">
            <tr>
                <th>Post</th>
                <th>Made By</th>
                <th>Approve</th>
            </tr>

            {%for post in unapproved_posts%}
            <tr>
                <td>{{post.Content}}</td>
                <td>{{post.Name}}</td>
                <td><a href="/approvePost/{{post.postID}}/{{user}}">Approve</a></td>
            </tr>
            {%endfor%}
        </table>

</div>
{% endblock %}