{% extends 'base.html'%} {% block head%}
<form action='/main_page'>
    <input type='submit' value='Sign Out'>
</form>
<h1 align="center">Welcome, {{user}}!</h1> {% endblock %} {% block body %}
<div align="center">
    <h2>
        Your posts
    </h2>
    <table class="pure-table">
        <tr>
            <th>Post</th>
            <th>Status</th>
            <th>Update</th>
        </tr>

        {%for post in posts%}
        <tr>
            <td>{{post.Content}}</td>
            <td>{{post.Status}}</td>
            {%if post.Status=='Draft'%}
            <td><a href="/update/{{post.postID}}/{{user}}">Update</a></td>
            {%else%}
            <td>Approved</td>
            {%endif%}
        </tr>
        {%endfor%}
    </table>
    <br><br>
    <!-- <textarea name="postContent" id="post" form="postform" placeholder="Enter your post content here"></textarea> -->
    <form action="/submitPost" id="postform" method='POST'>
        <input type="text" name="postContent" placeholder="Enter Post Content" required><br><br>
        <input type="text" name="empID" placeholder="Enter Employee Number" required><br><br>
        <input type="submit" value='Send for approval'>
    </form>
    <br><br>

</div>
{% endblock %}