{% extends 'base.html'%} {% block head%} {% endblock %} {% block body %}
<div align='center'>
    <h2 align="center">{{message}}</h2>
    <form action="/login_page" method="POST">
        <button type="submit" class="btn btn-primary" value='Log In'>
            Log In
        </button>
    </form>
    <br>
    <h3>Don't have an account? Sign up now!</h3>
    <form action="/signup_page" method="POST">
        <button type="submit" class="btn btn-warning" value='Sign Up'>
            Sign Up
        </button>
    </form>
</div>

</form> {% endblock %}
