{% extends 'base.html'%} {% block head%}
<h1 align="center">Social Media Management System</h1> {% endblock %} {% block body %}
<div align="center">

    <form action="/login_page" method="POST">
        <button class="btn btn-primary" name="foo" value='Log In'>
           Log In
        </button>
    </form>
    <br>
    <form action="/signup_page" method="POST">
        <button class="btn btn-secondary" name="foo" value='Sign Up'>
           Sign Up
        </button>
    </form>
    <br>
    <form action="/get_posts" method="POST">
        <button class="btn btn-info" name="foo" value='Show all previous posts'>
           View All Previous Posts
        </button>
    </form>
</div>


{% endblock %}
