{% extends 'base.html'%} {% block head%}
<h1 align="center">Your post has been sent for approval!</h1> {% endblock %} {% block body %}
<div align='center'>
    <br>
    <form action="/userPage/{{username}}">
        <button class="btn btn-primary" value='Go back to your account'>
          Go back to your account
        </button>
    </form>
    <br>
    <form action="/main_page">
        <button class="btn btn-warning" value='Go back to main page'>
          Go back to the main page
        </button>
    </form>

</div>

</form> {% endblock %}