{% extends 'base.html'%} {% block head%}
<h1 align="center">Post History</h1> {% endblock %} {% block body %}
<div align="center">
    <table class="pure-table">
        <tr>
            <th>Post</th>
            <th>Status</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>
                {{ post.Content }}
            </td>
            <td>
                {{ post.Status }}
            </td>

        </tr>
        {% endfor %}
    </table>
    <br><br>
    <form action='/main_page'>
        <input type='submit' value='Go Back to main page'>
    </form>
</div>

{% endblock %}