{% extends 'base.html'%} {% block head%}
<h1 align="center">Your post has been sent for approval!</h1> {% endblock %} {% block body %}
<div align='center'>
    <br>
    <form action="/userPage/{{username}}">
        <button class="btn btn-primary" value='Go Back to user page'>
          Go Back to user page
        </button>
    </form>
    <br>
    <form action="/main_page">
        <button class="btn btn-warning" value='Go Back to main page'>
          Go Back to main page
        </button>
    </form>

</div>

</form> {% endblock %}
