{% extends 'base.html'%} {% block head%}

<h1 align="center">Update page</h1>
<!-- <textarea name="postContent" id="post" form="postform" placeholder="Enter your post content here"></textarea> -->
<div align="center">
    <form action="/updatePost/{{postID}}/{{user}}" id="postform" method='POST'>
        <input type="text" class="form-control" name="updatedContent" placeholder="Updated Content"><br>
        <button type="submit" value="Update" class="btn btn-primary">Update</button>
    </form>
    <br><br>

    <form action='/userPage/{{user}}'>
        <button class="btn btn-warning" value='Sorry, go back'>
            Cancel Post Update
        </button>
    </form>

</div>
{% endblock %}
